

body{
    background-image: url(images/2.webp);
}

.main {
    margin-top: 5%;
    text-align: center;
   
    border: 20px solid gray;
     width: 40%;
    height: 70%;
    margin-left: 30%; 
    background-color: black;
     border-radius: 50%; 
    
     

}
/* .top {
    text-align: center;
    height: 50px;
    width: 50px;
    background-color: black;
    border: 10px solid gray;
    border-top-left-radius: 100%;
    border-top-right-radius: 100%;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    margin-left: 48%;
   
    
    
} */
.main1 {
    color: white;
    font-size: 30px; 
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}
.main2 {
    display: inline;
    color: white;
     font-size: 80px; 
     
    
}
.main3 {
    background-color: gray;
    color: white;
     height: 50px;
    width: 25%;
  
   
    font-size: xx-large; 
    border: none; 
    margin-bottom: 20%;
    margin-top: 10%;
}